footer h5, footer h3, footer p {
    color: #fff;
    font-weight: normal;
}


footer {
    padding: 20px 0 40px;
    background-color: #3c4859 !important;
    color: white;
  }
  
  footer .glyphicon {
    font-size: 25px;
    margin: 20px;
    color: #903749;
    height: 30px;
  }
  
  footer .glyphicon:hover {
    font-size: 27px;
  }
  
  footer h5, footer h3, footer p {
    color: #fff;
    font-weight: normal;
  }
  footer h5, footer p{
    font-size: 14px;
  }
  footer a {
    text-decoration: none;
    color: #fff;
  }
  
  footer a:hover {
    text-decoration: none;
    color: #fff;
  }
  
  footer a:visited {
    text-decoration: none;
    color: #fff;
  }
  
  .icons {
    color: #fff;
    font-size: 30px;
    margin-top: 15px;
    margin-right: 10px;
    display: inline-block;
  }

  .icon-linkedin:hover, .icon-github:hover{
      font-size: 27px;
  }

  .icon-github:hover{
    font-size: 27px;
  }
  
  .icons a {
    color: #fff;
    font-size: 35px;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .text-center {
    text-align: center;
  }

  .text-center p {
    display: inline-block;
  }

  footer hr{
    background-color:white;
    width:100px;
    height: 1px;
    margin-bottom: 0px;
  }
  /*#phoneNumber{
    margin-right:95px;
  }*/
