#home{
  height: 100vh;
  min-height: 650px;
  padding-top: 0;
  padding-bottom: 0;
  background-image: url("../images/background.png");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner-container{
  color: #fff;
  text-align: center;
  padding: 30px 25px;
  border: 1px solid #fff;
  background: rgba(0,0,0,.3);
}