.navbar{
  background-color: #3c4859 !important;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;  
}
.navbar .navbar-nav {
  float: none;
  vertical-align: top; 
}

.navbar-nav li a:hover{
  color: #3c4859 !important;
  background-color: #fff !important;
  border-radius:100%
}


.navbar .navbar-collapse {
  text-align: right;
}

@media(max-width:770px){
  .navbar-nav li a:hover{
    border-radius:0px;
  }
  
}