.navbar{
  background-color: #4357AD !important;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid white;
  
}
.navbar .navbar-nav {
  float: none;
  vertical-align: top; 
}

.navbar-nav li a:hover{
  color: #4357AD !important;
  background-color: #fff !important;
}


.navbar .navbar-collapse {
  text-align: right;
}