#skills{
    background-color:#5998C5;
    text-align:center;
    padding-top:100px;
    color:white;
}

.skill{
    max-height:100px;
    line-height: 100px;
}

.skillsContainer{
    background-color: #F1F1FB;
    border: 3px solid #C6D8FF;
    border-radius: 20px;
    margin:10px;
    /*height: -webkit-fill-available;*/
}

.skillsCategory{
    color: #ddd;
    margin:10px
}

#skills img{
    max-width:120px;
    max-height:60px;
    height: auto;
    color:black; /*To see alt value if necessary*/
}

#skills img:hover{
    max-width:120px;
    max-height:60px;
    height: auto;
    background-color:white;
    border-radius:10px;
}