#skills{
    background-color:#848FA5;
    text-align:center;
    padding-top:100px;
    color:white;
}

.skill{
    max-height:100px;
    line-height: 100px;
    margin:10px; 
}

.skill:hover{
   opacity: 0.5;
}

.skillsContainer{
    background-color: white;
    margin-top: 15px;
    
}

.skillsCategory{
    color: #848FA5;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    /*border-radius: 20px 20px 0px 0px;*/
}

#skills img{
    max-width:80px;
    max-height:60px;
    height: auto;
    color:black; /*To see alt value if necessary*/
   
}

.tooltip-inner {
    max-width: 300px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #3c4859;
    border-radius: .25rem;
    white-space: pre-wrap;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #3c4859 !important;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

